Repository jjohnson-47/semester-2025-fall: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, validate-json-schemas, check-todo-consistency, update-docs

Path conditions:
  uv-lock-check: any of: pyproject.toml
  validate-json-schemas: any of: ^content/.*\.json$
  check-todo-consistency: any of: dashboard/state/tasks\.json$
  update-docs: any of: dashboard/models\.py$

Add comprehensive MyPy type checking strategy
  docs/MYPY_STRATEGY.md
Due: none

Fix MyPy type errors and improve type safety
  dashboard/API_DOCUMENTATION.md
  dashboard/app.py
  dashboard/config.py
  dashboard/models.py
  dashboard/tools/generate_tasks.py
  dashboard/types.py
  docs/MYPY_STRATEGY.md
  pyproject.toml
  scripts/generate_dashboard_config.py
  scripts/utils/semester_calendar.py
  scripts/utils/sync_course_guides.py
  uv.lock
Due: uv-lock-check, update-docs

Complete type safety improvements and fix linting issues
  dashboard/app.py
  dashboard/types.py
Due: none

Complete MyPy and CI/CD setup with all critical hooks passing
  dashboard/API_DOCUMENTATION.md
Due: none

fix: resolve linting issues and add type stubs
  dashboard/app.py
  dashboard/config.py
  dashboard/models.py
  dashboard/tools/generate_tasks.py
  dashboard/tools/reprioritize.py
  pyproject.toml
  scripts/__init__.py
  scripts/utils/__init__.py
  tests/test_api_endpoints.py
  tests/test_task_service.py
  tests/test_utils_decorators.py
  uv.lock
Due: uv-lock-check, update-docs

style: auto-format code with ruff and fix newlines
  MULTI_MACHINE_QUICKSTART.md
  README.md
  SECRETS_AUDIT.md
  dashboard/API_DOCUMENTATION.md
  dashboard/app.py
  dashboard/config.py
  dashboard/state/courses.json
  dashboard/state/now_queue.json
  dashboard/state/tasks.json
  dashboard/tools/generate_tasks.py
  dashboard/tools/priority_contracts.yaml
  dashboard/tools/reprioritize.py
  dashboard/tools/templates/fall25_blackboard_ultra.yaml
  dashboard/tools/templates/fall25_weekly_static.yaml
  dashboard/tools/validate.py
  docs/MULTI_MACHINE_SETUP.md
  docs/PROJECT_INDEX.md
  docs/SMART_PRIORITIZATION.md
  docs/TASK_TEMPLATES.md
  scripts/create-secrets-interactive.sh
  scripts/dev-setup.sh
  scripts/init-secrets.sh
  scripts/load-secrets-gopass.sh
  scripts/setup-gopass-secrets.sh
  scripts/sync-secrets.sh
  scripts/transfer-age-key.sh
  scripts/verify-setup.sh
  tests/test_api_endpoints.py
  tests/test_generate_tasks_yaml_flow.py
  tests/test_helpers_more.py
  tests/test_phase_detection.py
  tests/test_reprioritize_unit.py
  tests/test_task_service.py
  tests/test_type_aliases.py
  tests/test_utils_decorators.py
  tests/test_validate_module.py
Due: check-todo-consistency

fix: add type ignore for markdown import
  scripts/utils/jinja_env.py
Due: none

fix: resolve MyPy type annotation issues properly
  dashboard/config.py
  dashboard/services/task_service.py
  dashboard/tools/generate_tasks.py
  dashboard/tools/helpers.py
  dashboard/tools/reprioritize.py
  dashboard/tools/validate.py
  dashboard/utils/decorators.py
  pyproject.toml
  scripts/build_syllabi.py
  scripts/utils/jinja_env.py
  scripts/utils/semester_calendar.py
  uv.lock
Due: uv-lock-check

fix: continue resolving MyPy type issues
  dashboard/app.py
Due: none

fix: add comprehensive type annotations to core modules
  dashboard/__init__.py
  dashboard/api/tasks.py
  dashboard/services/dependency_service.py
  dashboard/views/main.py
Due: none

Fix comprehensive type annotations and modernize Flask typing
  content/courses/MATH221/course_description.json
  content/courses/MATH221/course_prerequisites.json
  content/courses/MATH221/instructional_goals.json
  content/courses/MATH221/schedule.json
  content/courses/MATH221/student_outcomes.json
  content/courses/MATH251/course_description.json
  content/courses/MATH251/course_prerequisites.json
  content/courses/MATH251/instructional_goals.json
  content/courses/MATH251/student_outcomes.json
  content/courses/STAT253/course_description.json
  content/courses/STAT253/course_prerequisites.json
  content/courses/STAT253/instructional_goals.json
  content/courses/STAT253/student_outcomes.json
  dashboard/__init__.py
  dashboard/api/courses.py
  dashboard/api/export.py
  dashboard/api/stats.py
  dashboard/api/tasks.py
  dashboard/api/tasks_htmx.py
  dashboard/app.py
  dashboard/services/dependency_service.py
  dashboard/tools/generate_tasks.py
  dashboard/tools/reprioritize.py
  dashboard/utils/decorators.py
  dashboard/views/main.py
  pyproject.toml
  scripts/build_syllabi.py
  templates/syllabus.html.j2
  templates/syllabus.md.j2
  tests/test_config.py
  tests/test_export_more.py
  tests/test_stats.py
  tests/test_views.py
  uv.lock
Due: uv-lock-check, validate-json-schemas

feat: Add Cloudflare Pages deployment infrastructure
  .cloudflare
  .github/workflows/pages.yml
  Makefile
  cloudflare/_headers.preview
  cloudflare/_headers.prod
  cloudflare/_redirects
  docs/CF_GO_INTEGRATION.md
  docs/CLOUDFLARE_DEPLOYMENT.md
  docs/DEPLOYMENT_CHECKLIST.md
  docs/SITE_BUILDER.md
  scripts/setup-cloudflare-token.sh
  scripts/setup-pages-cf-go.sh
  scripts/site_build.py
  wrangler.jsonc
Due: none

fix: Use secrets.CF_PROJECT instead of vars.CF_PROJECT
  .github/workflows/pages.yml
Due: none

fix: Remove secret evaluation from workflow condition
  .github/workflows/pages.yml
Due: none

feat: Add automatic index.html generation for landing page
  scripts/site_build.py
Due: none

fix: Add missing site templates for deployment
  templates/site/base.html.j2
  templates/site/generator.html.j2
  templates/site/schedule_embed.html.j2
  templates/site/schedule_full.html.j2
  templates/site/syllabus_embed.html.j2
  templates/site/syllabus_full.html.j2
Due: none

fix: Include syllabus and schedule in site build for iframe embedding
  Makefile
Due: none

fix: Extract inline JavaScript to external files for CSP compliance
  assets/js/generator.js
  scripts/site_build.py
  templates/site/generator.html.j2
Due: none

fix: Replace construction page with proper landing page
  scripts/site_build.py
  templates/site/index.html.j2
Due: none

fix: Update CSP headers to allow iframe embedding from all domains
  cloudflare/_headers.preview
  cloudflare/_headers.prod
Due: none

feat(date-authority): Implement complete DateRules with no-weekend policy
  docs/ORCHESTRATION_PLAN.md
  scripts/rules/dates_full.py
  scripts/schema/migrator.py
  scripts/utils/schema/versions/v1_1_0.py
  tests/test_date_rules.py
Due: none

feat(build-pipeline): Implement complete staged build pipeline
  scripts/build_pipeline_impl.py
Due: none

feat: Enhance rules engine with advanced modeling and validation
  dashboard/tools/contracts.py
  dashboard/tools/dag.py
  dashboard/tools/phase.py
  dashboard/tools/queue_select.py
  dashboard/tools/scoring.py
  scripts/build_pipeline.py
  scripts/build_schedules.py
  scripts/build_syllabi.py
  scripts/builders/projection_adapter.py
  scripts/builders/v2_adapter.py
  scripts/rules/dates.py
  scripts/rules/engine.py
  scripts/rules/models.py
  scripts/schema/migrator.py
  scripts/services/changes.py
  scripts/services/course_service.py
  scripts/services/projection_adapter.py
  scripts/services/validation.py
  scripts/services/validation_gateway.py
  scripts/utils/css_handler.py
  scripts/utils/schema/versions/v1_1_0/__init__.py
  scripts/utils/schema/versions/v1_1_0/course.schema.json
  scripts/utils/schema/versions/v1_1_0/schedule.schema.json
  scripts/utils/style_system.py
Due: none

chore: Update dependencies and miscellaneous improvements
  Makefile
  assets/css/courses/MATH251.css
  assets/css/courses/STAT253.css
  claude_init.py
  dashboard/templates_src/sample_tasks.json
  scripts/site_build.py
  templates/course_schedule.html.j2
  templates/includes/styles.html.j2
  templates/syllabus.html.j2
  uv.lock
Due: none

chore(dev): add pre-commit, mypy.ini, Makefile UX targets; add docs (CONTRIBUTING, ARCHITECTURE, TESTING); guard deprecated imports in CI
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  docs/ARCHITECTURE.md
  docs/CONTRIBUTING.md
  docs/TESTING.md
  mypy.ini
  pyproject.toml
Due: uv-lock-check

ci(test): align coverage gate to 50% and keep ratchet step; fix remaining ruff warnings (RUF002/RUF046); status: all checks green locally
  .github/workflows/test.yml
Due: none

feat: Implement Track 0 - Shared test infrastructure
  Makefile
  docs/testing-plan-09042025/orchestration-guide.md
  docs/testing-plan-09042025/progress-tracker.md
  docs/testing-plan-09042025/quick-start.md
  pyproject.toml
  pytest.ini
  tests/conftest.py
  tests/helpers/builders.py
  tests/helpers/clocks.py
  tests/helpers/db.py
  tests/helpers/fake_process.py
  tests/test_infrastructure_validation.py
  uv.lock
Due: uv-lock-check

Track A: Orchestration & Events tests - 14/23 passing, 63% coverage
  tests/unit/test_advanced_orchestrator.py
  tests/unit/test_orchestration_agent_simple.py
Due: none

Track B: Deploy API tests - 26/29 passing, 93.75% coverage
  tests/unit/test_deploy_api.py
Due: none

Update orchestration progress tracker with Track A & B results
  docs/testing-plan-09042025/progress-tracker.md
Due: none

feat: implement Track C - Prioritization Service tests
  tests/golden/db_repo_validation.json
  tests/unit/test_db_repo_comprehensive.py
  tests/unit/test_prioritization_service.py
  tests/unit/test_queue_select.py
Due: none

feat: Add comprehensive CP-SAT queue selection tests - Track D
  tests/unit/test_queue_select.py
Due: none

feat: implement Track C - Prioritization Service tests
  docs/testing-plan-09042025/progress-tracker.md
  tests/unit/test_advanced_orchestrator.py
  tests/unit/test_prioritization_service.py
  tests/unit/test_tasks_htmx.py
  tests/unit/test_views_main.py
Due: none

feat: Track E - DB Repository & Schema Tests (95.71% coverage)
  tests/golden/track_e_db_validation.json
  tests/unit/test_db_repo_track_e.py
Due: none
